.about-wrapper {

}

.about-body {
    padding-top: 100px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding-left: 30px;
}

.about-body p {
    margin: 2px 0px;
}

.title {
    color: white;
}