.header {
  width: 100%;
  position: fixed;
  display: block;
  height: 50px;
  color: white;
  border-bottom: 3px solid rebeccapurple;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  transition-duration: 0.7s;
  z-index: 1;
}

.header:hover {
  background-color: rgba(0, 0, 0, 1);
}

.inner-header {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  /* background-color: red; */
}

.logo {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'PT Mono', monospace;
  font-size: 30px;
}

.l1 {
  color: rgb(153, 72, 153);
  
}

.l2 {
  color: rgb(152, 45, 152);
}

.l3 {
  color: rgb(199, 84, 199);
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container:hover {
  cursor: pointer;
}

.header-list {
  height: 100%;
  float: right;
  margin: 0;
}

.header-list a {
  height: 100%;
  float: left;
  padding: 0 20px;
  display: table;
}

.header-list a li {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  transition-duration: 0.2s;
}

.header-list a li:hover {
  cursor: pointer;
  color: rgb(163, 100, 226);
}


/* -8- -8- -8- FOOTER STUFF -8- -8- -8- */

.footer {
  width: 100%;
  position: fixed;
  display: block;
  bottom: 0;
  height: 40px;
  color: grey;
  border-bottom: 3px solid rebeccapurple;
  background-color: #232323;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  z-index: 1;
}

.inner-footer {
 width: 100%;
 /* max-width: 1000px; */
 height: 100%;
 /* display: block; */
 margin: 0 auto;
}

.footer-list {
  height: 100%;
  display: table;
  float: right;
}

.footer-list a {
  height: 100%;
  float: right;
  padding: 0 20px;
}

.footer-list a li {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  margin-bottom: 5px;
}

/* .author {
  display: table-cell;
  float: right;
  vertical-align: middle;
}

.version {
  display: table-cell;
  float: right;
  vertical-align: middle;
} */


.material-symbols-sharp {
  fill: 0;
  font-weight: 300;
  
}