body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0px;
  
}


.showpage-wrapper {
  max-width: 100%;
}

.show-page-main-wrapper {
  margin: 0px;
  padding: 0px;
}


/* wowß */

.sp-banner {
  width: 100%;
}

.sp-bellow-wrapper {
  /* display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto; */
  margin-left: 5%;
  margin-right: 5%;
  min-height: 2000px;
}


.show-details {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
}

.sp-banner-img {
  background-position: 70% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 0px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background-position: top;
}

.sp-image {
  width: 230px;
  height: 310px;
  border-radius: 10px;
}

.episode-wrapper {
  padding-top: 100px;
}

.episode-list {
  height: 600px;
  overflow: auto;
  width: 350px;
  margin-left: 250px;
}

.episode-item-wrapper {
  /* display: block;
  width: 300px;
  height: 50px;
  
  
  
  
  
  margin: 10px 0px;
  */
  width: 250px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  transition-duration: 0.3s; 
  font-size: 25px;
  border-radius: 15px;
  border: 2px solid #3b82f6;
  text-align: center;
  margin: 5px 0px;
}

.episode-button {
  /* position: relative;
  left: 30px;
  top: 12px; */
  margin: auto;
}

.episode-item-wrapper:hover {
  background-color: #3b82f6;
  cursor: pointer;
  color: black;
  margin-left: 10px;
}

.episode-list-wrapper {
  margin-top: 30px;
  
}

.sp-name {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  margin-bottom: 0px;
}

.sp-native {
  margin-top: 5px;
  color: white;
}

.sp-label {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 20px;
  margin: 3px;
  margin-left: 0px;
}

.sp-item {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #93c5fd;
  font-weight: 200;
  font-style: italic;
  margin: 3px;
  margin-left: 0px;
}

.sp-year {
  color: rgb(255, 60, 60);
}