body {
  background-color: #0f172a;
}

.ultra-wrapper {
  height: 100%;
  width: 100%;
;}

.shows-wrapper {
  padding: 5%;
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(6, 230px);
  grid-auto-rows: 310px;
  row-gap: 45px;
  column-gap: 100px;
  
  max-width: 2000px;
  padding-bottom: 300px;
  z-index: 0;
  height: 100%;
}


@media only screen and (max-width: 2560px) {
  .shows-wrapper {

    grid-template-columns: repeat(6, 230px);
    column-gap: 100px;
    width: 1880px;
  }
}
@media only screen and (max-width: 2000px) {
  .shows-wrapper {

    grid-template-columns: repeat(5, 230px);
    column-gap: 90px;
    width: 1550px;
  }
}
@media only screen and (max-width: 1600px) {
  .shows-wrapper {

    grid-template-columns: repeat(4, 230px);
    column-gap: 80px;
    width: 1220px;
  }
}
@media only screen and (max-width: 1200px) {
  .shows-wrapper {

    grid-template-columns: repeat(3, 230px);
    padding-top: 80px;
    column-gap: 70px;
    width: 890px;
  }
}
@media only screen and (max-width: 850px) {
  .shows-wrapper {

    grid-template-columns: repeat(2, 230px);
    padding-top: 90px;
    column-gap: 60px;
    width: 560px;
  }
}
@media only screen and (max-width: 575px) {
  .shows-wrapper {
    padding-top: 100px;
    grid-template-columns: repeat(1, 230px);
    width: 230px;
    column-gap: 50px;
  }
}

.show-wrapper {
  position: relative;
  width: 230px;
  height: 310px;
  align-items: center;
}

.show-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(20px);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  display: grid;
  grid-template-columns: 75%;
  grid-auto-rows: 40px;
  border-radius: 10px;
}

.show-wrapper:hover .show-info {
  height: 100%;
}

.show-wrapper:hover {
  cursor: pointer;
}

.show-title {
 font-family: 'Roboto', sans-serif;
 font-size: 22px;
 width: 80%;
 text-align: center;
 color: white;
 position: absolute;
 top: 25%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 /* text-align: center; */
}

.show-studio {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 20%;
  padding: 4px 8px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

.show-year {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 80%;
  background-color: rgb(255, 60, 60);
  border-radius: 15px;
  padding: 4px 8px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

.show-promo {
  width: 230px;
  height: 310px;
  border-radius: 10px;
  /* margin-left: 50%; */
}


.break {
  border: 1px solid #1e293b;
  display: block;
  margin: 45px 0px;
}

/* // // // // // // // // // // // // //*/

/* .header-wrapper {
  display: grid;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(20px);
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1 150px;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.item-wrapper {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 150px;
  background-color: transparent;
  border: 1px solid rebeccapurple;
}

.icon {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.home {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.list {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.popular {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
} */

.search-results-wrapper {
  padding-top: 75px;
  padding-bottom: 150px;
}

.white {
  color: grey;
  padding-top: 5px;
  margin-left: 5px;
  display: inline-block;
}

.searchbox-wrapper {
  border: 1px solid grey;
  display: inline-block;
  height: 36px;
  border-radius: 2px;
  padding: 0px;
}

.searchbox-wrapper:active {
  /* outline: 1px solid rebeccapurple; */
}

.search-input {
  height: 35px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  display: inline-block;
  color: white;
  margin-left: 10px;
  font-size: 16px;
  border-right: 1px solid grey;
}

.search-input:focus {
  outline: none;
}

.searchbox-wrapper a {
  height: 100%;
  float: left;
  padding: 0px 0px;
  display: table;
}

.searchbox-wrapper a li {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  transition-duration: 0.2s;
}

.search-btn {
  height: 36px;
  display: inline-block;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 50px;
  color: white;
  margin-bottom: 1px;
  padding-bottom: 1px;
  transition-duration: 0.1s;
}

.search-btn:hover {
  cursor: pointer;
  background-color: rebeccapurple;
  color: black;
}

.arrow {
  margin-top: 4px;
}

.nothing-here-wrapper {
  color: white;
}

.search-item {
  color: white;
  border: 2px solid rebeccapurple;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  width: fit-content;
  padding: 3px 10px;
  transition-duration: 0.2s;
  margin-left: 25px;
}

.search-item:hover {
  cursor: pointer;
  color: black;
  background-color: rebeccapurple;
  margin-left: 30px;
}

.search-img {
  width: 85px;
  height: 125px;
  display: inline-block;
  /* float: left; */
  border-radius: 13px;

}

.search-item-wrapper {
  border: 2px solid transparent;
  width: 400px;
  height: 125px;
  margin: 10px 0px;
  border-radius: 15px;
  padding: 0px;
  transition-duration: 0.2s;
}

.search-item-wrapper:hover {
  border-color: rebeccapurple;
  cursor: pointer;
  background-color: rgba(116, 116, 116, 0.2);
}

.search-item-wrapper a {
  height: 100%;
  float: left;
  /* padding: 0 20px; */
  display: table;
}

.search-item-wrapper a li {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  transition-duration: 0.2s;
}

.search-detail-wrapper {
  display: inline-block;
  height: 125px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  word-wrap: break-word;
}

.search-item-details {
  color: white;
  display: block;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  max-width: 280px;
  max-height: 85px;
}

.search-name {
  font-size: 24px;
  word-wrap: break-word;
}

.search-studio {
  font-size: 14px;
}

.search-native {
  /* font-family: 'Roboto', monospace; */
  font-family: 'Noto Serif JP', serif;
  word-wrap: break-word;
  font-size: 12px;
}

.long {
  font-size: 18px;
}

.search-box {
  padding-bottom: 150px;
}